* {
  font-family: "Outfit", sans-serif;
  margin: 0;
}

#root {
  overflow-x: hidden;
  position: relative;
}

.margin-content {
  margin-left: 25vh;
  margin-right: 25vh;
}

h3 {
  transition: all 0.15s ease-in;
  font-size: 3.2ch;
}

h3:hover {
  font-weight: 300;
  .light-text {
    font-weight: 500;
  }
}

hr {
  opacity: 30%;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  padding: 1rem 2rem;
  border: none;
  font-size: 1.5ch;
  font-weight: 600;
  cursor: pointer;
  color: #fff;

  transition: box-shadow 0.1s ease-in, transform 0.1s ease-in;
}

button:hover {
  transform: scale(1.03);
}

.button_black {
  background: #000;
}

.button_black:hover {
  background: linear-gradient(
    90deg,
    rgba(46, 40, 255, 1) 0%,
    rgba(240, 22, 255, 1) 100%
  );
}

.button_color {
  background: linear-gradient(
    90deg,
    rgba(46, 40, 255, 1) 0%,
    rgba(240, 22, 255, 1) 100%
  );
}

.button_color:hover {
  background: #000;
  box-shadow: 0 0 50px rgba(46, 40, 255, 1);
}

.light-text {
  transition: all 0.15s ease-in;
  font-weight: 300;
}

.navbar {
  display: flex;
  padding: 1.4rem 2.6rem;
  justify-content: space-between;
  align-items: center;

  z-index: 2;
}

.navbar__right {
  display: flex;
  gap: 2rem;
}

.navbar-text {
  border-radius: 1vh;
  padding: 0.5rem 1rem;
  transition: all 0.15s ease-in;
}

.navbar-text:hover {
  background: rgba(0, 0, 0, 0.05);
}

.section {
  margin: 10rem 0;
}

.wallet {
  display: flex;
  margin: inherit 5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.wallet__left-content {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-template-rows: repeat(2, 0fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  justify-items: center;
  align-items: center;
}

.wallet-item {
  width: 3.8rem;
  height: 3.8rem;
  padding: 1.4rem;
  background: #f9f9fa;
  align-items: center;
  text-align: center;
  border-radius: 100px;

  transition: all 0.15s ease-in;
}

.wallet-item:hover {
  box-shadow: 0 0 20px #dbdbdb;
  transform: translateY(-5px);
}

.wallet-item img {
  width: 100%;
  height: 100%;
}

.w1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.w2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.w3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.w4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.w5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.w6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.wallet__right-content {
  color: #3b3b3b;
}

.wallet__right-content h2 {
  font-size: 4ch;
  font-weight: 500;
}
.wallet__right-content p {
  font-size: 2ch;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
}

.header {
  width: 100%;
  background-image: url(../public/blur1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.header__content {
  display: flex;
  position: relative;
  z-index: 1;
}

.header__left {
  width: 60%;
  margin: 8rem 3rem;

  position: relative;
  z-index: 2;

  h1 {
    font-size: 5.4ch;
    font-weight: 500;
  }
  p {
    width: 75%;
    font-size: 2.2ch;
    color: #808080;
    font-weight: 200;
    margin: 1.6rem 0;
  }
}

.header__right {
  position: absolute;
  transform: translate(95%, 60%);
  z-index: 0;
}

.header__right img {
  z-index: 0;
  width: 650px;
  transition: all 0.1s ease-in;
}

.header__right img:hover {
  transform: scale(1.05);
}

.header__info {
  padding: 0 0 1.6rem 2rem;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  color: #3b3b3b;
}

.information h2 {
  font-size: 4ch;
  font-weight: 500;
}

.information__blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.block {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  transition: all 0.1s ease-in;
}

.block:hover {
  transform: translateY(-10px);
}

.block img {
  width: 8rem;
}

.block h2 {
  font-size: 3ch;
}

.block p {
  font-size: 2ch;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  margin-top: 1rem;
  width: 80%;
}

.multichain {
  color: #3b3b3b;
}

.multichain h2 {
  font-size: 4ch;
  font-weight: 500;
  padding: 0 3rem;
}

.multichain__description {
  font-size: 2ch;
  color: rgba(0, 0, 0, 0.5);
  padding: 1rem 3rem 8rem 3rem;
  width: 40%;
}

.upper_belt,
.lower_belt {
  display: flex;
  gap: 10rem;
}

.upper_belt {
  margin-bottom: 2rem;
}

.lower_belt {
}

.belt {
  width: 16rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  gap: 2rem;

  transition: all 0.13s ease-in;
}

.belt p {
  font-family: "Syne", sans-serif;
  font-weight: 600;
  color: #000;
}

.belt:hover {
  box-shadow: 0px 0px 20px rgba(48, 48, 48, 0.3);
  cursor: pointer;
}

.coin-profile {
  background: #000;
  width: 1.4rem;
  height: 1.4rem;
  padding: 20px;
  border-radius: 100px;
}

.coin-profile img {
  width: 100%;
  height: 100%;
}

.cta {
  height: 36rem;
}

.cta__background {
  width: 100%;
  background-image: url(../public/blur2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 70%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.cta__content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.cta__content h2 {
  margin-bottom: 2rem;
  font-size: 4ch;
  font-weight: 500;
  color: #3b3b3b;
  width: 50%;
}

.cta__right-image,
.cta__left-image {
  position: absolute;
  z-index: 10;
}

.cta__right-image img,
.cta__left-image img {
  width: 800px;
  z-index: 10;
  transition: all 0.1s ease-in;
}

.cta__left-image {
  transform: translate(-50%, 40%);
}
.cta__right-image {
  transform: translate(120%, -100%);
}

.features {
  margin: 0 10rem;
  transform: translateY(150px);
}

.features h2 {
  font-size: 4ch;
  color: #3b3b3b;
  font-weight: 600;
}

.feature__grid {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.block1 {
  width: 50%;
  background-image: url(../public/feature-black.jpg);
  background-size: cover;
  color: #fff;
  h2 {
    color: #fff;
  }
  img {
    margin: 6rem 0 5rem 3rem;
  }
  h2,
  p {
    margin-left: 3rem;
  }
  p {
    margin-top: 1rem;
    width: 80%;
    padding-bottom: 3rem;
  }
}

.block2 {
  width: 50%;
  background: #b2d2f1;
  background-image: url(../public/feature-blue.jpg);
  background-size: cover;
  p {
    color: rgba(0, 0, 0, 0.5);
  }
  h2 {
    color: #000;
  }
  img {
    margin: 4.5rem 0 3rem 3rem;
  }
  h2,
  p {
    margin-left: 3rem;
  }
  p {
    margin-top: 1rem;
    width: 80%;
    padding-bottom: 3rem;
  }
}

.block3 {
  width: 100%;
  height: 30vh;
  background-image: url(../public/blur1.jpg);
  background-size: 300%;
  background-position: 55% 100%;
  background-repeat: no-repeat;
  margin-top: 1rem;
  display: flex;
  align-items: end;
}

.feature__block-left {
  width: 50%;
  margin-left: 3rem;
  padding: 3rem 0;
}

.feature__block-right {
  height: 400px;
  position: absolute;
}

.feature__block-right img {
  height: 100%;
}

.feature h2 {
  font-weight: 500;
  font-size: 3.4ch;
}

.feature p {
  font-size: 2ch;
  font-weight: 300;
}

.home__footer {
  width: 100%;
  padding: 20rem 0 10rem 0;
  background-color: #1f1f27;
  color: #fff;
}

.home__footer-content button {
  margin: 2rem 0 4rem 0;
}

.home__footer-cta {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 3ch;
    font-weight: 500;
    width: 40%;
  }
}

.home__footer-info {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.8ch;
  }
}

@media screen and (min-width: 1500px) {
  .cta__right-image {
    transform: translate(175%, -100%);
  }
}

@media screen and (max-width: 940px) {
  .cta__left-image img {
    display: none;
  }
}
